<h1 class="text-center">
    Misurazioni Pressione
</h1>
<div class="col-md-6">
    <h3>
        Inserisci
    </h3>
    <form>
        <div class="form-group">
            <label>Data misurazione</label>
            <input type="date" class="form-control" ng-model="newMisurazione.datamisurazione" placeholder="inserisci data"/>
        </div>
        <div class="form-group">
            <label>Sistolica</label>
            <input type="number" class="form-control" ng-model="newMisurazione.sistolica" placeholder="inserisci sistolica"/>
        </div>
        <div class="form-group">
            <label>Diastolica</label>
            <input type="number" class="form-control" ng-model="newMisurazione.diastolica" placeholder="inserisci diastoica"/>
        </div>
        <div class="form-group">
            <label>Peso</label>
            <input type="number" class="form-control" ng-model="newMisurazione.peso" placeholder="inserisci peso"/>
        </div>
        <button class="btn btn-success" ng-click="addMisurazione()">Salva misurazione</button>
               
    </form>
</div>
<div class="col-md-6">
    <h3>
        Elenco
    </h3>
    <table class="table table-bordered">
        <thead>
            <th>Data</th>
            <th>Sistolica</th>
            <th>Diastolica</th>
            <th>Peso</th>
            <th>Azione</th>
        </thead>
        <tbody>
            <tr ng-repeat="(k, mis) in pa">
                <td>{{mis.datamisurazione}}</td>
                <td>{{mis.sistolica}}</td>
                <td>{{mis.diastolica}}</td>
                <td>{{mis.peso}}</td>
                <td ng-click="delete(k)"><a class="btn btn-sm btn-danger">Cancella</a></td>
            </tr>
        </tbody>
    </table>
</div>

